- var title = "Fire Emblem Three Houses Endings"
- var description = "Complete collection of all available endings for every character in Fire Emblem Three Houses"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    title= title
    meta(name="description" content=description)/
    meta(name="theme-color" content="#5f5273")/
    meta(property="og:title" content=title)/
    meta(property="og:type" content="website")/
    meta(property="og:description" content=description)/
    meta(property="og:image" content="https://fe3h.noobsaigon.com/og-image.jpg")/
    meta(property="og:url" content=url)/
    meta(property="og:site_name" content="Three Houses Endings")/
    meta(name="twitter:card" content="summary_large_image")/
    link(rel="canonical" href=url)/
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")/
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png")/
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png")/
    link(rel="manifest" href="/app-manifest.json")/
    link(rel="dns-prefetch preconnect" href="https://www.google-analytics.com" crossorigin)/
    link(rel="preload" crossorigin href="/eb-garamond-regular.woff2" as="font")/
    link(rel="preload" crossorigin href="/eb-garamond-semibold.woff2" as="font")/
    each jsonURL in jsonURLs
      link(rel="preload" crossorigin href=jsonURL as="fetch")/
    each jsBundleURL in jsBundleURLs
      link(rel="preload" href=jsBundleURL as="script")/
    style(data-href=cssInline.url) !{cssInline.content}
  body
    div(id="root") !{appContent}
    script(id="requiredChunks" type="application/json") !{requiredChunks}
    script !{jsRuntimeContent}
    script !{gaContent}
    each jsBundleURL in jsBundleURLs
      script(src=jsBundleURL async="")
    script !{swContent}
    script(src="https://www.google-analytics.com/analytics.js" async="")