doctype html
html(lang="en")
  head
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    title FE3H Endings
    link(rel="preload" crossorigin="" href="/eb-garamond-regular.woff2" as="font")/
    link(rel="preload" crossorigin="" href="/eb-garamond-semibold.woff2" as="font")/
    each jsonURL in jsonURLs
      link(rel="preload" crossorigin="" href=jsonURL as="fetch")/
    each jsBundleURL in jsBundleURLs
      link(rel="preload" href=jsBundleURL as="script")/
    style(data-href=cssInline.url) !{cssInline.content}
  body
    div(id="root") !{appContent}
    script(id="requiredChunks" type="application/json") !{requiredChunks}
    script !{jsRuntimeContent}
    each jsBundleURL in jsBundleURLs
      script(src=jsBundleURL async="")
